<nav class="bg-primary p-3 flex align-items-center justify-content-between shadow-2 mb-4">
  <div class="flex align-items-center gap-3">
    <span class="text-xl font-bold text-white px-3 border-right-1 border-red-700">CAVAVIN</span>
    <button pButton label="Dashboard" routerLink="/dashboard" icon="pi pi-home"
      class="p-button-text text-white hover:bg-primary"></button>
    <button pButton label="Ma Cave" routerLink="/inventory" icon="pi pi-list"
      class="p-button-text text-white hover:bg-primary"></button>
  </div>
</nav>

<div class="min-h-screen bg-secondary pb-6">
  <div class="container mx-auto px-4" style="max-width: 1300px">
    <router-outlet></router-outlet>
  </div>
</div>